.knowledge-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#my-knowledge {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card_knowledge {
    flex-basis: calc(25% - 20px); /*Cambiar valor dependiendo de los items*/
    max-width: calc(33.33% - 20px);
    margin: 0;
}

.img_knowledge {
    justify-content: center;
    display: flex;
}

.card_img_knowledge {
    width: 220px;
    height: auto;
    object-fit: cover;
}

.knowledge_description {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
}

.knowledge_description_title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 32px;
    color: #000;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .card_knowledge {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
        margin: 0;
    }

    .card_img_knowledge {
        width: 200px;
    }

    .knowledge_description_title {
        font-size: 26px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .card_knowledge {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
        margin: 0;
    }

    .card_img_knowledge {
        width: 180px;
    }

    .knowledge_description_title {
        font-size: 23px;
    }
}

@media (max-width: 480px) {
    .card_knowledge {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
        margin: 0;
    }

    .card_img_knowledge {
        width: 150px;
    }

    .knowledge_description_title {
        font-size: 22px;
    }
}



.knowledge_description_detail {
    font-size: 16px;
    color: #000;
}

.knowledge_description_link {
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    color: #001775;
}

.knowledge_description_link:hover,
.knowledge_description_link:active {
    color: rgb(22, 90, 133);
}